<ng-container *ngIf="{
    clinicsOptions:this.clinicsAsOptions$ |async ,
    clinicsOptionsError:this.clinicsAsOptionsError$ |async ,
    employeesOptions:this.employeesAsOptions$ |async,
    employeesOptionsError:this.employeesAsOptionsError$ |async
    } as vm">

    <ng-container
        *ngIf="(vm.clinicsOptions || vm.clinicsOptionsError) || (vm.employeesOptions ||vm.employeesOptionsError) else loading ">

        <ng-container
            *ngIf="(!vm.clinicsOptions && vm.clinicsOptionsError) || (!vm.employeesOptions && vm.employeesOptionsError) then error">

        </ng-container>

        <ng-container
            *ngIf="(vm.clinicsOptions && !vm.clinicsOptionsError) || (vm.employeesOptions && !vm.employeesOptionsError) then content">

        </ng-container>

    </ng-container>


    <ng-template #loading>
        <div class="pop-up-form-background">
            <div class="pop-up-form">
                loading ...
                <button class="btn" (click)="this.close()">close</button>
            </div>
        </div>
    </ng-template>

    <ng-template #error>
        <div class="pop-up-form-background">
            <div class="pop-up-form">
                error happened
                <button class="btn" (click)="this.close()">close</button>
            </div>
        </div>
    </ng-template>

    <ng-template #content>


        <div class="pop-up-form-background">

            <form #form id="schedule-form" class="pop-up-form" ngNativeValidate>

                <div class="pop-up-form-input-and-label-container">
                    <div class="pop-up-form-label">
                        <label>
                            clinic :
                        </label>
                    </div>
                    <select class="pop-up-form-input text-input" name="clinicId" [(ngModel)]="this.schedule.clinicId">
                        <option value="">please select a clinic</option>
                        <option *ngFor="let option of vm.clinicsOptions " value="{{option.value}}">
                            {{option.name}}
                        </option>
                    </select>
                </div>


                <div class="pop-up-form-input-and-label-container">
                    <div class="pop-up-form-label">
                        <label>
                            Begin Date :
                        </label>
                    </div>
                    <input class="pop-up-form-input text-input" type="date" name="beginDate"
                        [(ngModel)]="this.schedule.beginDate" required>
                </div>


                <div class="pop-up-form-input-and-label-container">
                    <div class="pop-up-form-label">
                        <label>
                            Expire Date :
                        </label>
                    </div>
                    <input class="pop-up-form-input text-input" type="date" name="expireDate"
                        [(ngModel)]="this.schedule.expireDate" required>
                </div>



                <div class="pop-up-form-input-and-label-container">
                    <div class="pop-up-form-label">
                        <label>
                            daily event start :
                        </label>
                    </div>
                    <input class="pop-up-form-input text-input" type="time" name="eventStart"
                        [(ngModel)]="this.schedule.eventStart" required>
                </div>

                <div class="pop-up-form-input-and-label-container">
                    <div class="pop-up-form-label">
                        <label>
                            daily event finish :
                        </label>
                    </div>
                    <input class="pop-up-form-input text-input" type="time" name="eventFinish"
                        [(ngModel)]="this.schedule.eventFinish" required>
                </div>

                <div class="pop-up-form-input-and-label-container">
                    <div class="pop-up-form-label">
                        <label>
                            repeat :
                        </label>
                    </div>
                    <select class="pop-up-form-input text-input" id="select-repeat" name="repeat"
                        [(ngModel)]="this.schedule.repeat" required>
                        <option value="">please select a repeat unit</option>
                        <option value="never">never</option>
                        <option value="daily">daily</option>
                        <option value="weekdays">weekdays</option>
                        <option value="weekends">weekends</option>
                        <option value="weekly">weekly</option>
                    </select>
                </div>

                <ng-container *ngIf="this.employeesId.length ==0">
                    <div class="pop-up-form-input-and-label-container">
                        <div class="pop-up-form-label">
                            <label>
                                Employees :
                            </label>
                        </div>
                        <select #selectedEmployee class="pop-up-form-input text-input selectedEmployee"
                            (change)="this.setEmployee(selectedEmployee.value  , 0)" required>

                            <option value="">Chose an Employee</option>
                            <option *ngFor="let option of vm.employeesOptions" [value]="option.value"
                                [selected]="this.employeesId[0] == option.value">
                                <!-- this.employeesId.includes(option.value) -->
                                {{option.name}}
                            </option>
                        </select>
                        <button type="button" (click)="this.expandEmployeeIdByOne()">+</button>
                        <button type="button" (click)="this.removeEmployee(0  )">X</button>
                        
                    </div>
                </ng-container>

                <ng-container *ngIf="this.employeesId.length !=0">
                    <div *ngFor="let employee of this.employeesId ; index as i ;trackBy:trackByIndex "
                        class="pop-up-form-input-and-label-container">
                        <div class="pop-up-form-label">
                            <label *ngIf="i==0">
                                Employees :
                            </label>
                        </div>

                        <select #selectedEmployee class="pop-up-form-input text-input selectedEmployee"
                            (change)="this.setEmployee(selectedEmployee.value  , i)" required>
                            <option value="">Chose an Employee</option>
                            <option *ngFor="let option of vm.employeesOptions" [value]="option.value"
                                [selected]="this.employeesId[i] == option.value">
                                {{option.name}}
                            </option>
                        </select>
                        <button *ngIf="i==0" type="button" (click)="this.expandEmployeeIdByOne()">+</button>
                        <button type="button" (click)="this.removeEmployee(i )">X</button>

                    </div>
                </ng-container>




                <button class="form-submit-button btn" (click)="this.submit(form)">submit</button>
                <button class="form-submit-button btn" (click)="this.close()">close</button>
            </form>

        </div>
    </ng-template>
</ng-container>