<app-navbar></app-navbar>
<!-- <app-test></app-test> -->

<!-- <app-data-table  
[data-list]="this.data"
[columns-definition]="this.columns">

</app-data-table> -->
<!-- <input type="text" list="fontstyle" placeholder="Please Select"   />
<datalist id="fontstyle">
    <option value="Arial">Arial</option>
    <option value="Verdana">Verdana</option>
    <option value="Helveltica">Helveltica</option>
    <option value="Sans Serif">Sans Serif</option>
    <option value="Calibiri">Calibiri</option>
    <option value="Roman">Roman</option>
    <option value="Algebrian">Algebrian</option>
</datalist> -->
<router-outlet></router-outlet>