<div class="dashboard">
    <ul class="dashboard-panel-list">
        <li>
            <div class="dashboard-item">
                <a class="dashboard-item-name" routerLink="/dashboard/hospitals-panel">Hospitals Panel </a>
                <div class="dashboard-item-button" (click)="toggleAddHospitalForm()">add hospital</div>
                <div *ngIf="this.openHospitalForm == true">
                    <app-hospital-form (closeEvent)="this.toggleAddHospitalForm()"
                        [formType]="'Create'"></app-hospital-form>
                </div>
            </div>
        </li>

        <li>
            <div class="dashboard-item">
                <a class="dashboard-item-name" routerLink="/dashboard/buildings-panel">Buildings Panel </a>
                <div class="dashboard-item-button" (click)="this.toggleAddBuildingForm()">add Building</div>

                <div *ngIf="this.openBuildingForm == true">
                    <app-building-form (shouldClose)="this.toggleAddBuildingForm()"
                        formType="Create"></app-building-form>
                </div>
            </div>
        </li>

        <li>
            <div class="dashboard-item">
                <a class="dashboard-item-name" routerLink="/dashboard/clinics-panel">Clinics Panel </a>

                <div class="dashboard-item-button" (click)="this.toggleAddClinicForm()">add Clinic</div>

                <div *ngIf="this.openClinicForm == true">
                    <app-clinic-form (shouldClose)="this.toggleAddClinicForm()" [formType]="'Create'"></app-clinic-form>
                </div>
            </div>
        </li>

        <li>
            <div class="dashboard-item">
                <a class="dashboard-item-name" routerLink="/dashboard/schedules-panel">Schedules Panel </a>
                <div class="dashboard-item-button" (click)="this.toggleAddScheduleForm()">add Schedule</div>
                <div *ngIf="this.openScheduleForm == true">
                    <app-schedule-form [formType]="'Create'"
                        (shouldClose)="this.toggleAddScheduleForm()"></app-schedule-form>
                </div>
            </div>
        </li>

        <li>
            <div class="dashboard-item">
                <a class="dashboard-item-name" routerLink="/dashboard/employees-panel">Employees Panel </a>

                <div class="dashboard-item-button" (click)="this.toggleAddEmployeeForm()">add Employee</div>
                <div *ngIf="this.openEmployeeForm == true">
                    <app-employee-form formType="Create"
                        (shouldClose)="this.toggleAddEmployeeForm()"></app-employee-form>
                </div>
            </div>
        </li>

        <li>
            <div class="dashboard-item">
                <a class="dashboard-item-name" routerLink="/dashboard/users-panel">Users Panel </a>

                <div class="dashboard-item-button" (click)="this.toggleAddUserForm()">add User</div>
                <div *ngIf="this.openUserForm == true">
                    <app-user-form formType="Create"
                        (shouldClose)="this.toggleAddUserForm()"></app-user-form>
                </div>
            </div>
        </li>

    </ul>

</div>