<div class="dashboard">
    <ul class="dashboard-panel-list">
        <li>
            <div class="dashboard-item">
                <button class="dashboard-item-name btn" routerLink="/dashboard/hospitals-panel">Hospitals Panel</button>
                <button class="dashboard-item-button btn" (click)="toggleAddHospitalForm()">add hospital</button>

                <ng-container *ngIf="this.openHospitalForm == true">
                    <app-hospital-form (closeEvent)="this.toggleAddHospitalForm()"
                        [formType]="'Create'"></app-hospital-form>
                </ng-container>
            </div>
        </li>

        <li>
            <div class="dashboard-item">
                <button class="dashboard-item-name btn" routerLink="/dashboard/buildings-panel">Buildings Panel</button>
                <button class="dashboard-item-button btn" (click)="this.toggleAddBuildingForm()">add Building</button>

                <ng-container *ngIf="this.openBuildingForm == true">
                    <app-building-form (shouldClose)="this.toggleAddBuildingForm()"
                        formType="Create"></app-building-form>
                </ng-container>
            </div>
        </li>

        <li>
            <div class="dashboard-item">
                <button class="dashboard-item-name btn" routerLink="/dashboard/clinics-panel">Clinics Panel </button>
                <button class="dashboard-item-button btn" (click)="this.toggleAddClinicForm()">add Clinic </button>

                <ng-container *ngIf="this.openClinicForm == true">
                    <app-clinic-form (shouldClose)="this.toggleAddClinicForm()" [formType]="'Create'"></app-clinic-form>
                </ng-container>
            </div>
        </li>

        <li>
            <div class="dashboard-item">
                <button class="dashboard-item-name btn" routerLink="/dashboard/schedules-panel">Schedules Panel
                </button>
                <button class="dashboard-item-button btn" (click)="this.toggleAddScheduleForm()">add Schedule</button>
                <!-- <button class="dashboard-item-name btn" routerLink="/dashboard/clinic-week-schedules">add week schedule</button> -->

                <div *ngIf="this.openScheduleForm == true">
                    <app-schedule-form [formType]="'Create'"
                        (shouldClose)="this.toggleAddScheduleForm()"></app-schedule-form>
                </div>
            </div>
        </li>

        <li>
            <div class="dashboard-item">
                <button class="dashboard-item-name btn" routerLink="/dashboard/employees-panel">Employees Panel</button>
                <button class="dashboard-item-button btn" (click)="this.toggleAddEmployeeForm()">add Employee</button>
                <div *ngIf="this.openEmployeeForm == true">
                    <app-employee-form formType="Create"
                        (shouldClose)="this.toggleAddEmployeeForm()"></app-employee-form>
                </div>
            </div>
        </li>

        <li *ngIf="this.user.isAdmin()">
            <div class="dashboard-item">
                <button class="dashboard-item-name btn" routerLink="/dashboard/users-panel">Users Panel</button>
                <button class="dashboard-item-button btn" (click)="this.toggleAddUserForm()">add User</button>
                <app-user-form *ngIf="this.openUserForm == true" formType="Create"
                    (shouldClose)="this.toggleAddUserForm()"></app-user-form>
            </div>
        </li>




    </ul>

</div>