<div class="dashboard">
    <ul class="dashboard-panel-list">
        <li>
            <div class="dashboard-item">
                <a routerLink="/dashboard/hospitals-panel">Hospitals Panel </a>
            </div>
        </li>
        <li>
            <div class="dashboard-item">
                <a routerLink="/dashboard/buildings-panel">Buildings Panel </a>
            </div>
        </li>
        <li>
            <div class="dashboard-item">
                <a routerLink="/dashboard/clinics-panel">Clinics Panel </a>
            </div>
        </li>
        <li>
            <div class="dashboard-item">
                <a routerLink="/dashboard/schedules-panel">Schedules Panel </a>
            </div>
        </li>
        <li>
            <div class="dashboard-item">
                <a routerLink="/dashboard/employees-panel">Employees Panel </a>
            </div>
        </li>
    </ul>

</div>