# Environment variables for the docker-compose.demo.yml setup

# Database
POSTGRES_DB=clinics_schedules
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
# Using a different port for demo
POSTGRES_PORT_DEMO=5433 

# API
# Using a different port for demo
SPRING_PORT_DEMO=8081 

# Frontend
# Using a different port for demo

BACKEND_PUBLIC_URL=http://localhost:8081

