<ng-container *ngIf="{notice:notificationSource | async} as vm">
    <div *ngIf="vm.notice && vm.notice.length !=0" class="notification-view-bg">
        <div class="notification-view-fg">

            <h2 class="notification-type">
                {{vm.notice.at(-1)?.type}}
            </h2>

            <p class="notification-conent">
                {{vm.notice.at(-1)?.message}}
            </p>

            <button *ngIf="vm.notice.at(-1)?.type != 'CONFIRM'"
                (click)="this.notifierService.dismissLast()">dismiss</button>

            <button *ngIf="vm.notice.at(-1)?.type == 'CONFIRM'"
            (click)="this.notifierService.dismissLastWithAction()">CONFIRM</button>
            <button *ngIf="vm.notice.at(-1)?.type == 'CONFIRM'" 
                (click)="this.notifierService.dismissLast()">CANCEL</button>
        </div>
    </div>
</ng-container>