<div class="container">

    <div class="filters-container">
        <input class="filter" *ngFor="let column of this.ColumnsDefinition" type="text"
            (keyup)="this.filterList($event , column.key)" [placeholder]="column.displayLabel" />

        <div class="filter filter-hidden"></div>
    </div>

    <table>

        <tr class="row header-row">

            <th class="header-cell table-cell" *ngFor="let column of this.ColumnsDefinition"
                (click)="this.sortBy(column)">
                {{ column.displayLabel }} {{sortingColumn.key == column.key? sortingColumn.direction == 'ASC' ? "↓":"↑"
                :"↕"}}
            </th>

            <th class="action-header header-cell table-cell">action</th>
        </tr>


        <tr class="row body-row" *ngFor="let data of this.getData()">

            <td class="table-cell" *ngFor="let column of this.ColumnsDefinition">
                {{column.mapper ? column.mapper(data[column.key]) : data[column.key] }}
            </td>

            <td class="action-cell table-cell">

                <app-edit-action class="action-btn" [target]="data" [editAction]="this.editAction"
                    [buttonContent]="editContent">
                    edit</app-edit-action>



                <app-remove-action class="action-btn-cell" [target]="data" [removeAction]="this.removeAction"
                    [buttonContent]="removeContent"></app-remove-action>
            </td>
        </tr>


    </table>

</div>
<ng-template #removeContent>remove</ng-template>

<ng-template #editContent>edit</ng-template>