.container {
    width: 95vw;
    margin: auto;
}

.filters-container {

    display: flex;
    flex-direction: row;
    margin: auto;
    
}

.filter {
    width: 100%;
    text-align: center;
    padding: 0;
    border: 1px solid #b6b6b6;
}

.filter-hidden {
    width: 100%;
    padding: 0;
    border: 0px;
    margin: 0;

}

table {
    /* outline: 1px solid magenta; */
    width: 100%;
    margin: auto;
    table-layout: fixed;
    border-spacing: 0 2px;

}

.header-row {
    /* outline: 1px solid red; */

}

.header-cell {
    text-align: center;
}

.action-header {}

.row {
    /* outline:  1px solid black ; */
}

.body-row {
    /* outline: 1px solid blue; */

}

.table-cell {
    /* outline: 1px solid black; */
    text-align: center;
    border: 1px solid #b6b6b6;
    margin: 0;
    /* padding: 0 0 0 10px; */



}


.action-btn {}

.action-cell {}