<div id="nav">

    <a routerLink="/" *ngIf="this.isLoggedIn$ | async" class="navbar-item" (click)="this.user.logout()">
        logout
    </a>
    <a routerLink="/dashboard" *ngIf="this.isLoggedIn$ | async" class="navbar-item">
        dashboard
    </a>

    <a routerLink="/login" *ngIf="!(this.isLoggedIn$ | async)" class="navbar-item">
        login
    </a>

    <a routerLink="/hospital-schedules" class="navbar-item">
        schedules
    </a>
    <a routerLink="/" class="navbar-item" (click)="this.shouldSayHi()">
        home
    </a>


</div>