.clinic-filter-input {
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.30);
    border-radius: 17px;
    display: block;
}

.schedule-container {
    /* outline: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px;
    padding: 10px;
    user-select: none;
    border: var(--schedule-border);
    border-radius: var(--schedule-border-radius);
    box-shadow: var(--schedule-shadow);

}

.clinic-info {
    /* outline: 1px solid green; */
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    background-color: var(--button-color);
    color: var(--button-font-color);
}

.clinic-info-item {
    text-align: center;
    /* background-color: aqua; */
    width: 33.33%;
}

.clinic-schedule-event-container {
    /* outline: 1px solid purple; */
    display: flex;
    overflow-x: scroll;
    min-height: 45vh;
    gap: 0.5%;
    scrollbar-width: 5px;

}

.clinic-schedule-event {
    /* outline: 1px solid palevioletred; */
    flex-basis: calc(100% /7.2);
    flex-grow: 0;
    flex-shrink: 0;
    margin: 5px;
    border: var(--schedule-border);
    /* border-radius: var(--schedule-border-radius); */

}

.today {}

.past {}

.future {}

.clinic-schedule-event:nth-child(7n)>.schedule-event-date {
    color: black;
}

.event-day-info {
    /* outline: 1px solid black; */
    background-color: var(--button-color);
    color: var(--button-font-color);
    text-align: center;
    border-bottom: var(--schedule-border);

}


.events-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 7px;
    padding: 5px;
}

.event-time-and-employees {
    /* outline: 1px solid steelblue; */
    text-align: center;
    border-bottom: var(--schedule-border);

}

.schedule-event-employees {
    text-align: left;
    padding: 0 0 0 3px;
    border-left: 2px solid black;
    margin-bottom: 2px;
}

.event-time-and-employees:last-child {
    border-bottom: none;

}

.schedule-event-note {
    text-align: left;
    /* border-left: 1px solid var(--button-color); */
    margin: 0 0 3px 0;
    font-size: smaller;
    padding: 0 0 0 3px;
    border-left: 2px solid var(--button-color);

}



.schedule-event-time {
    /* overflow-x: scroll; */
    /* padding: 0 0 0 3px; */
    border-left: 2px solid black;
}

.clinic-note {
    font-size: smaller;
    padding: 0;
    margin: 0 0 0 0.5%;
}

.hospital-target-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-inline: 5px;
    gap: 5px;
}

.hospital-target-button {
    color: var(--button-font-color);
    background-color: var(--button-color);
    border: none;
    height: 30px;
    line-height: 30px;
    font-size: medium;
    overflow-x: hidden;
    width: 100%;
    border-radius: var(--schedule-border-radius);
}

.hospital-target-button.selected {
    background-color: var(--button-color-selected);
}

.hospital-target-button:hover {
    background-color: var(--button-color-hovered);

}

.hospital-target-button.selected:hover {
    background-color: var(--button-color-selected);

}