<ng-container *ngIf="this.requestState == 'complete'">
    <input class="clinic-filter-input" type="text" [(ngModel)]="this.clinicFilter"
        placeholder="Search Term Ex. Abdullah or 10:00 pm">

    <ng-template *ngFor="let clinic of this.clinics" [ngIf]="this.doesClinicPassFilter(clinic)">

        <div class="schedule-container" *ngIf="clinic.schedules.length != 0">
            <div class="clinic-info">
                <div class="clinic-info-item"> Name: {{clinic.englishName}}</div>
                <div class="clinic-info-item"> Number: {{clinic.number}} </div>
                <div class="clinic-info-item"> {{clinic.ext ? "Ext:" :"" }}{{clinic.ext}}</div>
            </div>

            <div class="clinic-schedule-event-container draggable">

                <div class="clinic-schedule-event draggable" *ngFor="let dayAndEvents of this.getAllEvents(clinic)">

                    <div class="event-day-info schedule-event-date draggable">
                        {{dayAndEvents.day | date:"EEEE , MMM dd "}}
                    </div>

                    <div class="events-container">

                        <div class="event-info event-time-and-employees draggable"
                            *ngFor="let event of dayAndEvents.events ">
                            <div class=" schedule-event-time draggable ">
                                {{event.eventStart | date:'hh:mmaaa'}} - {{event.eventFinish | date:"hh:mmaaa"}}
                            </div>

                            <div class="schedule-event-employees draggable">
                                <div class="event-employee" *ngFor="let employee of event.employees">
                                    {{employee.englishName}}
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
    </ng-template>
</ng-container>