/*********************************/
/************colors***************/
/*********************************/
$primary-color: #ece6e1;
$primary-color: #000000;

$background-color: #000000;
$foreground-color: #000000;

$button-color: #000000;
$button-hover-color: #000000;

$font-color: (
    normal: black,
    error: red,
    success: green
);
