<div class="schedule-container" *ngFor="let clinic of this.clinics">

    <section class="clinic-info">
        <div> Name: {{clinic.englishName}}</div>
        <div> Number: {{clinic.number}} </div>
        <div> {{clinic.ext ? "Ext:" :"" }}{{clinic.ext}} </div>
    </section>

    <section class="clinic-schedule-events" *ngFor="let dayAndEvents of this.getAllEvents(clinic)">

        <div class="event-info schedule-event-date">
            {{dayAndEvents.day | date}}
        </div>

        <div class="event-info schedule-event-weekday">
            {{dayAndEvents.day | date:"EE"}}
            <!-- friday -->
        </div>
        <ng-container *ngFor="let event of dayAndEvents.events ">
            <div class="event-info schedule-event-start ">
                start : {{event.eventStart | date:'d:mm aaa'}}
            </div>

            <div class="event-info schedule-event-finish ">
                end : {{event.eventFinish | date:"h:mm aaa"}}
            </div>
            <div class="event-info schedule-event-employees">
                <p *ngFor="let employee of event.employees"></p>
            </div>
        </ng-container>

    </section>

</div>